{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{#{{ vardumper(fields)}} #}
<div class="columns">
  <div class="column col-12">
    <div class="columns">
      {% for row in rows %}
        {% set name = row.content['#row'].taxonomy_term_field_data_name %}
        {% set tid = row.content['#row'].tid %}
        {% set count = row.content['#row'].node_taxonomy_index_uuid %}
        <div class="column col-auto col-sm-12">
          <a href="/uchwaly/all/{{ tid }}" title="{{ name }}" class="btn btn-sm badge" data-badge="{{ count }}">{{ name }} &nbsp;</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>